#articlesPhoto img{
  width: 100%;
  border-radius: 10%;
  margin-top: 30px;
}
#mfg5fightcardText {
    text-align: center;   
   
    
}
#mfg5fightcardText ul {     
    list-style-type: none
    
}
#mfg5fightcardText li::before {
    content: "\1F94A\00A0\00A0";    
}
article a {
width: bold;
}